[{:type :video
  :url "https://www.youtube.com/watch?v=ityVW2gR0Rs"
  :id "AR1"}
{:type :video
  :url "https://www.youtube.com/watch?v=RnGzuI-A274"
  :id "AR2"}
{:type :video
  :url "https://www.youtube.com/watch?v=2RcgfyuBlz8"
  :id "AR3"}
{:type :video
  :url "https://www.youtube.com/watch?v=HPj7Nw2w38Q"
  :id "AR4"}
{:type :video
  :url "https://www.youtube.com/watch?v=OHg7COxrshU"
  :id "AR5"}
{:type :video
  :url "https://www.youtube.com/watch?v=Z0-l0mi50WU"
  :id "AR6"}
{:type :video
  :url "https://www.youtube.com/watch?v=YXDcD_g-wHc"
  :id "AR7"}
{:type :video
  :url "https://www.youtube.com/watch?v=xIX17ZEQNI8"
  :id "AR8"}]
