[{:type :video
  :url "https://www.youtube.com/watch?v=ityVW2gR0Rs"
  :id "AR1"}
{:type :video
  :url "https://www.youtube.com/watch?v=RnGzuI-A274"
  :id "AR2"}
{:type :video
  :url "https://www.youtube.com/watch?v=2RcgfyuBlz8"
  :id "AR3"}
{:type :video
  :url "https://www.youtube.com/watch?v=HPj7Nw2w38Q"
  :id "AR4"}]
