[{:title "Information Hiding"
   :url "http://www.johndcook.com/blog/2015/05/05/information-hiding/"
   :author "John D. Cook"
   :id "BLG1"}
{:title "Language Layers"
   :url "http://blog.cleancoder.com/uncle-bob/2015/04/27/LanguageLayers.html"
   :author "Uncle Bob"
   :id "BLG2"}]
