[{:title "Information Hiding"
   :url "http://www.johndcook.com/blog/2015/05/05/information-hiding/"
   :author "John D. Cook"
   :id "BLG1"}
{:title "Language Layers"
   :url "http://blog.cleancoder.com/uncle-bob/2015/04/27/LanguageLayers.html"
   :author "Uncle Bob"
   :id "BLG2"}
{:title "The next “secret weapon” in programming"
   :url "https://michaelochurch.wordpress.com/2010/10/29/the-next-secret-weapon-in-programming/"
   :author "Michael O. Church"
   :id "BLG3"}
{:title "Can tech fix its broken culture?"
   :url "https://michaelochurch.wordpress.com/2015/04/17/can-tech-fix-its-broken-culture/"
   :author "Michael O. Church"
   :id "BLG4"}
{:title "The Failure of Agile"
   :url "http://blog.toolshed.com/2015/05/the-failure-of-agile.html"
   :author "Andy Hunt"
   :id "BLG5"}
{:title "What is Trolling?"
   :url "http://blog.codinghorror.com/what-is-trolling/"
   :author "Jeff Atwood"
   :id "BLG6"}
{:title "In Defense of the \"Smackdown\" Learning Model"
   :url "http://blog.codinghorror.com/in-defense-of-the-smackdown-learning-model/"
   :author "Jeff Atwood"
   :id "BLG7"}
{:title "IDE Culture vs. Unix philosophy"
   :url "https://michaelochurch.wordpress.com/2013/01/09/ide-culture-vs-unix-philosophy/"
   :author "Michael O. Church"
   :id "BLG8"}
{:title "Dear Slack"
   :url "http://zedshaw.com/2015/02/02/dear-slack/"
   :author "Zed Shaw"
   :id "BLG9"}
{:title "LXC containers are awesome, but Docker.io sucks"
   :url "http://iops.io/blog/lxc-application-containers-docker-initial-thoughts/"
   :author "Cal Leeming"
   :id "BLG10"}
{:title "How to Avoid Agility"
   :url "http://blog.toolshed.com/2013/02/how-to-avoid-agility.html"
   :author "Andy Hunt"
   :id "BLG11"}
{:title "Haskell on Heroku"
   :url "http://brianmckenna.org/blog/haskell_on_heroku"
   :author "Brian McKenna"
   :id "BLG12"}
{:title "Idris as a Library"
   :url "http://brianmckenna.org/blog/idris_library"
   :author "Brian McKenna"
   :id "BLG13"}
{:title "This Blog Uses Idris"
   :url "http://brianmckenna.org/blog/idris_blog"
   :author "Brian McKenna"
   :id "BLG14"}
{:title "A blog engine written and proven in Coq"
   :url "http://coq-blog.clarus.me/a-blog-engine-written-and-proven-in-coq.html"
   :author "Guillaume Claret"
   :id "BLG15"}
{:title "Docker vs Reality , 0 - 1"
   :url "http://www.krisbuytaert.be/blog/docker-vs-reality-0-1"
   :author "Kris Buytaert"
   :id "BLG16"}
{:title "The case against Docker"
   :url "https://www.andreas-jung.com/contents/the-case-against-docker"
   :author "Andreas Jung"
   :id "BLG17"}
{:title "About Nix"
   :url "http://nixos.org/nix/about.html"
   :author "Nix Community"
   :id "BLG18"}
{:title "About NixOS"
   :url "http://nixos.org/nixos/about.html"
   :author "Nix Community"
   :id "BLG19"}
{:title "Why OCaml, why now?"
   :url "https://spyder.wordpress.com/2014/03/16/why-ocaml-why-now/"
   :author "Spyder"
   :id "BLG20"}
{:title "Careerism breeds mediocrity"
   :url "https://michaelochurch.wordpress.com/2012/12/26/careerism-breeds-mediocrity/"
   :author "Michael O. Church"
   :id "BLG21"}
{:title "The power of “I don’t know”"
   :url "https://michaelochurch.wordpress.com/2012/12/03/the-power-of-i-dont-know/"
   :author "Michael O. Church"
   :id "BLG22"}
{:title "What programmers want"
   :url "https://michaelochurch.wordpress.com/2012/10/30/what-programmers-want/"
   :author "Michael O. Church"
   :id "BLG23"}
{:title "Lets review.. Docker (again)"
   :url "http://iops.io/blog/docker-hype/"
   :author "Cal Leeming"
   :id "BLG24"}
{:title "Why Chef?"
   :url "https://www.rallydev.com/blog/engineering/why-chef"
   :author "Jonathan Chauncey"
   :id "BLG25"}
{:title "Belief, Respect, and Facts"
   :url "http://loup-vaillant.fr/articles/beliefs-respect-and-facts"
   :author "Loup Vaillant"
   :id "BLG26"}
{:title "Haskell/do notation"
   :url "http://en.wikibooks.org/wiki/Haskell/do_notation"
   :author "Haskell Community"
   :id "BLG27"}
{:title "Functors, Applicatives, And Monads In Pictures"
   :url "http://adit.io/posts/2013-04-17-functors,_applicatives,_and_monads_in_pictures.html"
   :author "Adit"
   :id "BLG28"}
{:title "Learn Nintendo DS a Haskell"
   :url "http://brianmckenna.org/blog/learn_nintendo_ds_a_haskell"
   :author "Brian McKenna"
   :id "BLG29"}
{:title "In which I make you hate Ruby in 7 minutes"
   :url "http://devblog.avdi.org/2015/05/11/in-which-i-make-you-hate-ruby-in-7-minutes/"
   :author "Avdi Grimm"
   :id "BLG30"}
{:title "Just Say No to More End-to-End Tests"
   :url "http://googletesting.blogspot.co.uk/2015/04/just-say-no-to-more-end-to-end-tests.html"
   :author "Mike Wacker"
   :id "BLG31"}
{:title "The sad state of sysadmin in the age of containers"
   :url "http://www.vitavonni.de/blog/201503/2015031201-the-sad-state-of-sysadmin-in-the-age-of-containers.html"
   :author "Erich Schubert"
   :id "BLG32"}
{:title "Docker"
   :url "http://grep.be/blog//en/computer/Docker/"
   :author "Wouter"
   :id "BLG32"}
{:title "Why Don't You Trust Your Developers?"
   :url "http://littlehart.net/atthekeyboard/2012/06/18/why-dont-you-trust-your-developers/"
   :author "Chris Hartjes"
   :id "BLG33"}
{:title "Agile Is Dead (Long Live Agility)"
   :url "http://pragdave.me/blog/2014/03/04/time-to-kill-agile/"
   :author "Dave Thomas"
   :id "BLG34"}
{:title "MicroservicePremium"
   :url "http://martinfowler.com/bliki/MicroservicePremium.html"
   :author "Martin Fowler"
   :id "BLG35"}
{:title "Is Agile software development dead?"
   :url "https://www.ibm.com/developerworks/community/blogs/BernieMichalik/entry/is_agile_software_development_dead?lang=en"
   :author "Bernie Michalik"
   :id "BLG36"}
{:title "The Anti Agile Manifesto"
   :url "http://antiagilemanifesto.com/"
   :author "unknown"
   :id "BLG37"}
{:title "The End of Agile: Death by Over-Simplification"
   :url "http://effectivesoftwaredesign.com/2014/03/17/the-end-of-agile-death-by-over-simplification/"
   :author "Hayim Makabee"
   :id "BLG38"}
{:title "The Myth of Emergent Design and the Big Ball of Mud"
   :url "http://effectivesoftwaredesign.com/2013/06/17/the-myth-of-emergent-design-and-the-big-ball-of-mud/"
   :author "Hayim Makabee"
   :id "BLG39"}
{:title "Adaptable Design Up Front and the Open/Closed Principle"
   :url "http://effectivesoftwaredesign.com/2013/07/04/adaptable-design-up-front-and-the-openclosed-principle/"
   :author "Hayim Makabee"
   :id "BLG40"}
{:title "Software Engineering: Dead?"
   :url "http://blog.codinghorror.com/software-engineering-dead/"
   :author "Jeff Atwood"
   :id "BLG41"}
{:title "I Don't Want Agile Back"
   :url "https://flowchainsensei.wordpress.com/2014/03/11/i-dont-want-agile-back/"
   :author "Bob Marshall"
   :id "BLG42"}
{:title "I Don't Want Agile Back"
   :url "https://flowchainsensei.wordpress.com/2014/03/11/i-dont-want-agile-back/"
   :author "Bob Marshall"
   :id "BLG42"}
{:title "I Want Agile Back"
   :url "http://agileotter.blogspot.com/2014/02/i-want-agile-back.html"
   :author "Tim Ottinger"
   :id "BLG43"}
{:title "Scrum Managers: Are They The Worst?"
   :url "http://agileotter.blogspot.com/2013/11/scrum-managers-are-they-worst.html"
   :author "Tim Ottinger"
   :id "BLG44"}
{:title "3 Ways We Can Revive Agile"
   :url "http://agileotter.blogspot.com/2014/02/bringing-back-agile.html"
   :author "Tim Ottinger"
   :id "BLG45"}
{:title "Agile, Post-agile, Beyond Agile... Where do we go next?"
   :url "http://agileotter.blogspot.com/2014/04/agile-post-agile-beyond-agile-where-do.html"
   :author "Tim Ottinger"
   :id "BLG46"}
{:title "The Hidden Trap of Code Coverage"
   :url "http://ariya.ofilabs.com/2012/09/the-hidden-trap-of-code-coverage.html"
   :author "Ariya Hidayat"
   :id "BLG47"}
{:title "Agile Is Dead: The Angry Developer Version"
   :url "http://rubiquity.com/2014/03/12/agile-is-dead-angry-developer.html"
   :author "Richard Bishop"
   :id "BLG48"}
{:title "Reflections on the 10 Years Since the Agile Manifesto"
   :url "http://www.mountaingoatsoftware.com/blog/reflections-on-the-10-years-since-the-agile-manifesto"
   :author "Mike Cohn"
   :id "BLG49"}
{:title "The Thing of Software Development"
   :url "http://michaelfeathers.typepad.com/michael_feathers_blog/2011/01/the-thing-of-software-development.html"
   :author "Michael Feathers"
   :id "BLG50"}
{:title "Too Lazy to \"Type\""
   :url "http://gnuu.org/2010/12/13/too-lazy-to-type/"
   :author "Loren Segal"
   :id "BLG51"}
{:title "Death by risk-aversion"
   :url "http://headrush.typepad.com/creating_passionate_users/2006/01/death_by_riskav.html"
   :author "Kathy Sierra"
   :id "BLG52"}
{:title "A comparison of Haskell vs F#"
   :url "http://fluffynukeit.com/a-comparison-of-haskell-vs-f/"
   :author "Daniel Austin"
   :id "BLG53"}
{:title "You’re not a software craftsman if..."
   :url "http://codeobsession.blogspot.com/2011/04/youre-not-software-craftsman-if.html"
   :author "David Adsit"
   :id "BLG54"}
{:title "Assignment Statement Considered Harmful"
   :url "http://loup-vaillant.fr/articles/assignment"
   :author "Loup Vaillant"
   :id "BLG55"}
{:title "Erlang Is the Most Object Oriented Language"
   :url "http://rylev.github.io/words/blog/2013/10/03/erlang-is-the-most-object-oriented-language/"
   :author "Ryan Levick"
   :id "BLG56"}
{:title "Why Elixir?"
   :url "http://www.theerlangelist.com/2014/01/why-elixir.html"
   :author "Saša Jurić"
   :id "BLG57"}
{:title "Managing The Development Of Large Software Systems"
   :url "http://www.serena.com/docs/agile/papers/Managing-The-Development-of-Large-Software-Systems.pdf"
   :author "Dr. Winston W. Royce"
   :id "BLG58"}
{:title "The Fallacy Of ReUse"
   :url "http://www.udidahan.com/2009/06/07/the-fallacy-of-reuse/"
   :author "Udi Dahan"
   :id "BLG59"}
{:title "Do software engineers need mathematics?"
   :url "https://www.maa.org/external_archive/devlin/devlin_10_00.html"
   :author "Keith Devlin"
   :id "BLG60"}
{:title "Listening to users considered harmful?"
   :url "http://headrush.typepad.com/creating_passionate_users/2005/09/listening_to_us.html"
   :author "Kathy Sierra"
   :id "BLG61"}
{:title "Gucumber is Cucumber for Go"
   :url "http://gnuu.org/2015/03/30/gucumber-is-cucumber-for-go/"
   :author "Loren Segal"
   :id "BLG62"}
{:title "Gucumber is Cucumber for Go"
   :url "http://gnuu.org/2015/03/30/gucumber-is-cucumber-for-go/"
   :author "Loren Segal"
   :id "BLG63"}
{:title "Alan Kays Definition Of Object Oriented"
   :url "http://c2.com/cgi/wiki?AlanKaysDefinitionOfObjectOriented"
   :author "Ward Cunningham"
   :id "BLG64"}
{:title "Ten Things We Know To Be True"
   :url "http://www.google.com/about/company/philosophy/"
   :author "Google Company"
   :id "BLG65"}
{:title "Clojure Libs and Namespaces: require, use, import, and ns"
   :url "http://blog.8thlight.com/colin-jones/2010/12/05/clojure-libs-and-namespaces-require-use-import-and-ns.html"
   :author "Colin Jones"
   :id "BLG66"}
{:title "Why Clojure?"
   :url "http://thecleancoder.blogspot.com/2010/08/why-clojure.html"
   :author "Uncle Bob"
   :id "BLG67"}
{:title "NEVER Go Full-Functional: Haskell, Clojure, Scala"
   :url "http://sapiengames.com/2014/02/15/never-go-full-functional-haskell-clojure-scala/"
   :author "Nick Horton"
   :id "BLG68"}
{:title "Clojure's core.typed vs Haskell"
   :url "http://adambard.com/blog/core-typed-vs-haskell/"
   :author "Adam Bard"
   :id "BLG69"}
{:title "What Does It Take To Become A Grandmaster Developer?"
   :url "http://www.moserware.com/2008/03/what-does-it-take-to-become-grandmaster.html"
   :author "Jeff Moser"
   :id "BLG70"}
{:title "The Long, Dismal History of Software Project Failure"
   :url "http://blog.codinghorror.com/the-long-dismal-history-of-software-project-failure/"
   :author "Jeff Atwood"
   :id "BLG71"}
{:title "Success through Failure"
   :url "http://blog.codinghorror.com/success-through-failure/"
   :author "Jeff Atwood"
   :id "BLG72"}
{:title "BlueGreenDeployment"
   :url "http://martinfowler.com/bliki/BlueGreenDeployment.html"
   :author "Martin Fowler"
   :id "BLG73"}
{:title "My Take on Haskell vs Scala"
   :url "http://jnordenberg.blogspot.com/2012/05/my-take-on-haskell-vs-scala.html"
   :author "Jesper Nordenberg"
   :id "BLG74"}
{:title "Meditations on learning Haskell"
   :url "http://bitemyapp.com/posts/2014-04-29-meditations-on-learning-haskell.html"
   :author "Chris Allen"
   :id "BLG75"}
{:title "A Stick Figure Guide to the Advanced Encryption Standard (AES)"
   :url "http://www.moserware.com/2009/09/stick-figure-guide-to-advanced.html"
   :author "Jeff Moser"
   :id "BLG76"}
{:title "Why Atom Can’t Replace Vim"
   :url "https://medium.com/@mkozlows/why-atom-cant-replace-vim-433852f4b4d1"
   :author "Mike Kozlowski"
   :id "BLG77"}
{:title "FAIL, can impress too"
   :url "http://ayende.com/blog/165378/fail-can-impress-too"
   :author "Ayende Rahien"
   :id "BLG78"}
{:title "Puppet Server drops Ruby for Clojure"
   :url "http://www.infoworld.com/article/2687553/devops/puppet-server-drops-ruby-for-clojure.html"
   :author "Serdar Yegulalp"
   :id "BLG79"}
{:title "Why are types useful?"
   :url "http://bitemyapp.com/posts/2014-12-03-why-are-types-useful.html"
   :author "Chris Allen"
   :id "BLG80"}
{:title "What ‘South Park’ can teach us about startups and Silicon Valley’s ‘bro’ culture"
   :url "http://www.marketwatch.com/story/what-south-park-can-teach-us-about-startups-and-silicon-valleys-bro-culture-2014-10-01"
   :author "Jennifer Booton"
   :id "BLG81"}
{:title "The Context Game"
   :url "http://goodenoughsoftware.net/2012/02/29/the-context-game/"
   :author "Greg Young"
   :id "BLG82"}
{:title "JavaScript: The World's Most Misunderstood Programming Language"
   :url "http://www.crockford.com/javascript/javascript.html"
   :author "Douglas Crockford"
   :id "BLG83"}
{:title "Using shebang and lein-exec to write Clojure scripts that can use dependencies"
   :url "http://bitemyapp.com/posts/2013-02-18-shebang-lein-exec-scripts-dependencies.html"
   :author "Chris Allen"
   :id "BLG84"}
{:title "Language Flamewars and the Blub Paradox"
   :url "http://www.lessonsoffailure.com/developers/language-flamewars-blub-paradox/"
   :author "Dave Rodenbaugh"
   :id "BLG85"}]
