[{:title "Clojure : Deep Walking Macros"
   :url "https://www.youtube.com/watch?v=HXfDK1OYpco"
   :id "YT1"}
{:title "Idris: Practical Dependent Types with Practical Examples"
   :url "https://www.youtube.com/watch?v=4i7KrG1Afbk"
   :id "YT2"}
{:title "PureScript Compiler Dev Hangout"
   :url "https://www.youtube.com/watch?v=Y3P1dxqwFiE"
   :id "YT3"}
{:title "Code Blindness"
   :url "https://www.youtube.com/watch?v=B31QrNFyRyc"
   :id "YT4"}]
